<!DOCTYPE html>
<html>
  <head>
    <title>Ties</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      Ties
    </header>

    <div class="content">
      <%= yield %>
    </div>

    <footer>
      <p>Made with ❤ Love.</p>
    </footer>
  </body>
</html>
